<div class="wrapper">
  <div class="pan">ホーム>オンラインショップ>MYページ(ログイン)</div>
  <h1 class="page-title ">MYページ(ログイン)</h1>
  <h2 class="entry-title">会員登録がお済みのお客様</h2>
  <p class="top_space30">会員の方は、登録時に入力されたメールアドレスとパスワードでログインしてください。</p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="wrapper">
  <div class="login_table">
    <div class="login_tb_l">
      <%= f.label :email, 'メールアドレス：' %>
    </div>
    <div class="login_tb_r">
      <%= f.email_field :email, class:"box80", autocomplete: "email" %>
    </div>
    <div class="login_tb_l">
      <%= f.label :password, 'パスワード：' %>
    </div>
    <div class="login_tb_r">
      <%= f.password_field :password, class:"box80", autocomplete: "current-password" %><br>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'メールアドレスをコンピューターに記憶させる' %>
      <% end %>
    </div>

    <div class="wrapper top_space30">
      <%= f.submit "ログイン", class:"black_btn"  %>
    </div>
  </div>
<% end %>
  <%# フォーム終了 %>

  <p class="bottom_space30">パスワードを忘れた方はこちらからパスワードの再発行を行ってください。<br>
  ※メールアドレスを忘れた方は、お手数ですが、お問い合わせページからお問い合わせください。</p>

  <h2 class="entry-title">まだ会員登録されていないお客様</h2>
  <p>会員登録をすると便利なMyページをご利用いただけます。<br>
  ログインするだけで、お名前や住所などを入力することなくスムーズにお買い物をお楽しみいただけます。</p>

  <div class="wrapper text_center top_space30">
    <%= link_to "会員登録をする", new_user_registration_path, class:"black_btn_a" %>
  </div>
</div>
