<div class="wrapper">
  <div class="pan">ホーム > オンラインショップ > 管理者登録(入力ページ)</div>
  <h1 class="page-title ">管理者登録(入力ページ)</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  <div class="table">
    <div class="table_l">
      メールアドレス
    </div>
    <div class="table_r">
      <%= f.email_field :email, class:"box80", autocomplete: "email" %>
    </div>
    <div class="table_l">
      希望するパスワード
    </div>
    <div class="table_r">
      <%= f.password_field :password, class:"box", autocomplete: "new-password" %><br>
      <span class="red mini">半角英数字6文字以上でお願いします。（記号不可）</span><br>
      <%= f.password_field :password_confirmation, class:"box", autocomplete: "new-password" %><br>
      <span class="red mini">確認のために2度入力してください。</span>
    </div>
  </div>
  <div class="wrapper">
    <%= f.submit "新規登録をする", :class=>"btn_sign_in"  %>
  </div>
<% end %>