<div class="wrapper">
  <div class="pan">ホーム>オンラインショップ>カート</div>
  <% if @cart_items.length == 0 %>
    <h1 class="page-title ">お客様のカートに商品はありません</h1>
  <% else %>
    <h1 class="page-title ">
      ショッピングカート<% flash.each do |key, value| %><%= content_tag(:span, value, class: key) %>
      <% end %>
    </h1>
  <% end %>
</div>


<div class="wrapper">
  <% @cart_items.each do |cart_item| %>
    <div class="cart-container">
        <% cart_item.item.images.first(1).each do |image| %>
          <%= link_to  item_path(cart_item.item.id) , class: "cart-link" do %>
            <%= image_tag image.variant(resize: '300x300') %>
          <% end %>
        <% end %>
      <div class="cart-info">
      カートID:<%= cart_item.id %>
        <span class="cart-name blue">
          <%= link_to cart_item.item.name, item_path(cart_item.item.id) %><br>
        </span>
          <%= cart_item.item.category.name %><br>
          <%= form_with url: update_item_path(:item_id => cart_item.item.id, :cart_id => params[:cart_id]),local: true do |f| %>
          数量：<%= f.text_field :quantity, class:"box20", maxlength:"2", value: cart_item.quantity %>
          <br>
          <%= f.submit "変更する"  %>
          <% end %>
          <%= link_to "削除する", delete_item_path(:item_id => cart_item.item.id, :cart_id => params[:cart_id]), method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<div class="wrapper">レジに進む
</div>