<div class="wrapper">
  <div class="pan"><%= link_to "ホーム", root_path %> > 管理者用ログインページ</div>
    <h1 class="page-title ">管理者用ログインページ</h1>
</div>

<% if user_signed_in? %>
  <div class="wrapper text_center">
    <h2 class="page-title"><span class="red">※MYページからログアウトして下さい</span></h2>
  </div>
<% end %>

<div class="wrapper">
  <p>こちらを利用して、商品登録などお試し下さい</p>
  <p>MAIL: test@admin.com</p>
  <p>PASS: 11111a</p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="wrapper text_center red">
  <%= flash[:alert] %>
</div>

<div class="wrapper">
  <div class="login_table">
    <div class="login_tb_l">
      <%= f.label :email, 'メールアドレス：' %>
    </div>
    <div class="login_tb_r">
      <%= f.email_field :email, class:"box80", autocomplete: "email" %>
    </div>
    <div class="login_tb_l">
      <%= f.label :password, 'パスワード：' %>
    </div>
    <div class="login_tb_r">
      <%= f.password_field :password, class:"box80", autocomplete: "current-password" %><br>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'メールアドレスをコンピューターに記憶させる' %>
      <% end %>
    </div>

    <div class="wrapper">
      <%= f.submit "ログイン", :class=>"btn_login btn"  %>
    </div>
  </div>
  <% end %>
  <%# フォーム終了 %>