
<div class="wrapper"  id="contents_down">

  <div class="pull_down_container" id="contents" style="height: 200px;">
    <div class="content">
      <div class="content_list_title">
        Facebook
      </div>
      <div class="content_list_title">
        Twitter
      </div>
      <div class="content_list_title">
        Instagram
      </div>
      <div class="content_list_title">
        メールでお問い合わせ
      </div>
      <div class="content_list_title">
        LINEでお問い合わせ
      </div>
    </div>
    <div class="content">
      <div class="content_list">
        <%= image_tag "/assets/logo/content1.jpg" %>
      </div>
      <div class="content_list">
        <%= image_tag "/assets/logo/content2.jpg" %>
      </div>
      <div class="content_list">
        <%= image_tag "/assets/logo/content3.jpg" %>
      </div>
      <div class="content_list">
        <%= image_tag "/assets/logo/content4.jpg" %>
      </div>
      <div class="content_list">
        <%= image_tag "/assets/logo/content5.jpg" %>
      </div>
    </div>
  </div>
</div>