<div class="wrapper">
  <div class="pan entry-title top_margin30">
    <%= link_to "ホーム", root_path, class: :"blue" %> > 
    <%= link_to "全商品 一覧", item_all_path, class: :"blue" %> > 
    <%= link_to @category.root.name, item_category_one_path(id: @category.root.id), class: :"blue" %>
  </div>
    <h1 class="page-title "><%= @category.root.name %></h1>
</div>

<div class="wrapper">
  <div class="category_items mini">
    <% @items.each do |item| %>
      <% if item.category.root.id == @params.to_i %>
        <div class="category_item">
          <% item.images.first(1).each do |image| %>
            <%= link_to item_path(item.id) do %>
                <%= image_tag image.variant(resize: '300x300'), class:'images bottom_space5' if item.images.attached? %>
            <% end %>
          <% end %>
          <%= item.info_brand %><br>
          <%= item.name %><br>
          <span class="bottom_space5">販売価格：￥<%= item.price.to_s(:delimited)%></span><br>
          <% if item.stock_quantity == 0 %>
            <span class="red bold">SOLDOUT</span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="wrapper text_center top_space30 next_page">
  <%= paginate @items %>
</div>