<div class="wrapper">
  <div class="pan entry-title top_margin30">
    <%= link_to "ホーム", root_path, class: :"blue" %> > 
    <%= link_to "オンラインショップ", "#", class: :"blue" %> > 
    <%= link_to @category.root.name, item_category_one_path(id: @category.root.id), class: :"blue" %>
  </div>
    <h1 class="page-title "><%= @category.root.name %></h1>
</div>

<div class="wrapper">
  <div class="category_items">
    <% @items.each do |item| %>
      <% if item.category.root.id == @params.to_i %>
        <div class="category_item">
          <% item.images.first(1).each do |image| %>
            <%= link_to item_path(item.id) do %>
                <%= image_tag image.variant(resize: '300x300'), class:'images' if item.images.attached? %>
            <% end %>
          <% end %>
          <%= item.category.name %><br>
          <%= item.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>