<div class="main_visual">
  <%= image_tag "/assets/main/main_visual.jpg" %>
</div>

<div class="wrapper">
  <div class="index_title top_space30">
    ＳＨＯＰ ＮＥＷＳ
  </div>
</div>

<div class="wrapper news_containers">
  <div class="news_border">
    <div class="news_container">
      <h3>NEW BLOG<span>>All View</span></h3>
      <p>2020.08.13　［ 新作バッグ公開 ］　PATRICK STEPHAN シープスキン BOXショルダーバッグ</p>
      <p>2020.08.07　PATRICK STEPHAN　新作コレクション 公開 ▶︎▶︎</p>
      <p>2020.08.04　《 破格の最終価格 》 非常にお買い得なプライスです！！</p>
    </div>
  </div>
  <div class="news_border">
    <div class="news_container">
    <h3>INFORMATION<span>>All View</span></h3>
    <p>2020.09.10　アポイント営業のお知らせ</p>
    <p>2020.07.31　※［変更あり］８月 店休日のお知らせ</p>
    <p>2020.06.31　※［変更あり］７月 店休日のお知らせ</p>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="index_title top_space30">
    ＮＥＷ ＩＴＥＭ
  </div>
</div>

<div class="wrapper items_index">
  <% @items.first(9).each do |item| %>
      <div class="item_index">
        <% item.images.first(1).each do |image| %>
          <%= link_to item_path(item.id) do %>
            <%= image_tag image.variant(resize: '300x300'), class:'images' if item.images.attached? %>
          <% end %>
        <% end %>
        <p class="mini">
          <%= link_to item_path(item.id) do %>
            <%= item.info_brand %><br>
            <%= item.name%><br>
          <% end %>
            販売価格：￥<%= item.price.to_s(:delimited)%>
        </p>
        <% if item.stock_quantity == 0 %>
          <p class="red bold mini">SOLDOUT</p>
        <% end %>
      </div>
  <% end %>
</div>

<div class="wrapper">
  <div class="top_space30">
    <%= link_to "> ＭＯＲＥ", item_all_path, class:"more_btn box_center" %>
  </div>
</div>

