<div class="wrapper">
  <div class="pan">ホーム > オンラインショップ > 商品出品ページ</div>
  <h1 class="page-title ">商品出品ページ</h1>
</div>


<div class ="wrapper">

<%= form_with model: @item, id: "new_item" , url: items_path, local: true do |f| %>

<div id="image-list">
</div>
  <div class="table">
    <div class="table_l">
      商品画像
    </div>
    <div class="table_r">
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_1', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_2', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_3', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_4', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_5', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_6', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_7', class:"file_btn" %><br>
      <%= f.file_field :image, name: 'item[images][]', id: 'item_image_8', class:"file_btn" %><br>
    </div>
    <div class="table_l">
      商品名
    </div>
    <div class="table_r">
      <%= f.text_field :name, class:"box", id:"item-name", maxlength:"40" %><br>
    </div>
    <div class="table_l">
      商品の説明
    </div>
    <div class="table_r">
      <%= f.text_field :info_product, class:"box", id:"info_product", maxlength:"40" %><br>
    </div>
    <div class="table_l">
      ブランド
    </div>
    <div class="table_r">
      <%= f.text_field :info_brand, class:"box", id:"info_brand", maxlength:"40" %><br>
    </div>
    <div class="table_l">
      素材
    </div>
    <div class="table_r">
      <%= f.text_field :info_material, class:"box", id:"info_material", maxlength:"40" %><br>
    </div>
    <div class="table_l">
      サイズ
    </div>
    <div class="table_r">
      <%= f.text_field :info_size, class:"box", id:"info_size", maxlength:"40" %><br>
    </div>
    <div class="table_l">
      性別
    </div>
    <div class="table_r">

      <%= f.select :category, options_for_select(@category_parent_array.map{|c|[c, {}]}, "test"), {}, {class: 'select', id: 'parent_category'} %>
    </div>
    <div class="table_l">
      カテゴリー１
    </div>
    <div class="table_r">
      <%= f.select :category, options_for_select(@category_child_array.map{|c|[c, {}]}, "test"), {}, {class: 'select', id: 'parent_category'} %>
    </div>
    <div class="table_l">
      カテゴリー２
    </div>
    <div class="table_r">
      <%= f.select :category, options_for_select(@category_grandchild_array.map{|c|[c, {}]}, "test"), {}, {class: 'select', id: 'parent_category'} %>
    </div>
    <div class="table_l">
      販売価格
    </div>
    <div class="table_r">
      <%= f.text_field :price, class:"box", id:"item-price", maxlength:"40" %><br>
    </div>
  </div>

<div class="wrapper">
  <%= f.submit "出品する", :class=>"btn_item"  %>
</div>
<% end %>
