<div class ="wrapper">

  <%= form_with model: @item, url: items_path, local: true do |f| %>

    <br>商品名
    <%= f.text_field :name, class:"box", id:"item-name", maxlength:"40" %><br>
    <br>商品の説明
    <%= f.text_field :info_product, class:"box", id:"info_product", maxlength:"40" %><br>
    <br>ブランド
    <%= f.text_field :info_brand, class:"box", id:"info_brand", maxlength:"40" %><br>
    <br>info_material
    <%= f.text_field :info_material, class:"box", id:"info_material", maxlength:"40" %><br>
    <br>info_size
    <%= f.text_field :info_size, class:"box", id:"info_size", maxlength:"40" %><br>
    <br>カテゴリー
    <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: '-----'}, {class:"select-box", id:"item-category"}) %><br>
    <br>販売価格
    <%= f.text_field :price, class:"box", id:"item-price", maxlength:"40" %><br>
    <%= f.submit "出品する" ,class:"sell-btn" %>
    <%= link_to "もどる", root_path %>

  <% end %>

</div>