<h3>管理者用 購入情報</h3>
<br><br>
<% @orders.each do |order| %>
<hr>
  注文ID：<%= order.id %><br>
  注文日：<%= order.created_at.strftime('%Y/%m/%d') %><br>
  <br>
  <% @total_price = 0 %>
  <% order.cart_items.each do |item| %>
    <% item.item.images.first(1).each do |image| %>
      <%= link_to  item_path(item.item.id) , class: "cart-link" do %>
        <%= image_tag image.variant(resize: '150x150') %><br>
      <% end %>
    <% end %>
    商品名：<%= item.item.name %><br>
    数量：<%= item.quantity %><br>
    <% price = item.item.price * item.quantity %>
    商品金額：<%= price.to_s(:delimited) %>円<br>
    <% @total_price += price.to_i %>
  <% end %>
    <br>
    合計金額：<%= @total_price.to_s(:delimited) %>円<br>
    送料：<%= 800 %>円<br>
    <% total_price = 800 + @total_price %>
    御請求金額：<%= total_price.to_s(:delimited) %>円<br><br>
<% end %>