<div class="wrapper">
  <div class="pan entry-title top_margin30">
    <%= link_to "ホーム", root_path, class: :"blue" %> > 
    サイトマップ
  </div>
</div>

<div class="wrapper">
  <h1 class="page-title bottom_space30">サイトマップ</h1>
</div>

<div class="wrapper">
  <ul>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
    <li><%= link_to "text", root_path %></li>
  </ul>
</div>