<div class="wrapper">
  <div class="pan">ホーム > オンラインショップ > カード登録</div>
  <h1 class="page-title ">クレジットカードを登録して下さい</h1>
</div>
<%= form_with  url: cards_path, id: 'charge-form', class: 'card-form',local: true do |f| %>
<div class="table">
  <div class="table_l">
    <%= f.label :number, "【カード番号】" %>
  </div>
  <div class="table_r">
    <%= f.text_field :number, class:"box40", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class="table_l">
    <%= f.label :cvc ,"【ＣＶＣ】" %>
  </div>
  <div class="table_r">
    <%= f.text_field :cvc, class:"box40", placeholder:"カード背面にある3桁の番号", maxlength:"4" %>
  </div>
  <div class="table_l">
    【有効期限】
  </div>
  <div class="table_r">
      <%= f.select :exp_month, 1..12, {include_blank: "---"}, class: "box20" %>
      <p>月</p>
      <%= f.select :exp_year, 20..25, {include_blank: "---"}, class: "box20" %>
      <p>年</p>
  </div>
</div>

<div class="wrapper text_center top_space30">
    <%= f.submit "登録する" , class:"black_btn" %>
</div>
<% end %>