<div class="wrapper">
  <div class="pan entry-title top_margin30">
  <%= link_to "ホーム", root_path, class: :"blue" %> > 
  会員情報(編集ページ)</div>
  <h1 class="page-title ">会員情報(編集ページ)</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="table">
    <div class="table_l">
      お名前
    </div>
    <div class="table_r">
      性<%= f.text_field :last_name, class:"box20", id:"last_name", autocomplete:"family-name", maxlength:"10" %>
      名<%= f.text_field :first_name, class:"box20", id:"first_name", autocomplete:"given-name", maxlength:"10" %>
    </div>
    <div class="table_l">
      お名前(フリガナ)
    </div>
    <div class="table_r">
      セイ<%= f.text_field :last_name_kana, class:"box20", id:"last_name_kana", autocomplete:"family-name-kana", maxlength:"10" %>
      メイ<%= f.text_field :first_name_kana, class:"box20", id:"first_name_kana", autocomplete:"given-name-kana", maxlength:"10" %>
    </div>
    <div class="table_l">
      郵便番号
    </div>
    <div class="table_r">
      〒<%= f.text_field :postal_code, class:"box20", id:"postal_code", maxlength:"8" %>
      <a href="//www.post.japanpost.jp/zipcode/" target="_blank" class="mini">郵便番号検索</a>
    </div>
    <div class="table_l">
      住所
    </div>
    <div class="table_r">
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %><br>
      <%= f.text_field :city, class:"box80", id:"city", autocomplete:"address-line1", maxlength:"40" %><br>
      市区町村名 (例：千代田区神田神保町)<br>
      <%= f.text_field :block, class:"box80", id:"block", autocomplete:"address-line2", maxlength:"40" %><br>
      番地・ビル名 (例：1-3-5)<br>
      <span class="red mini">住所は2つに分けてご記入ください。マンション名は必ず記入してください。</span>
    </div>
    <div class="table_l">
      電話番号
    </div>
    <div class="table_r">
      <%= f.text_field :phone_number, class:"box80", id:"phone_number", autocomplete:"tel-national", maxlength:"40" %>
    </div>
    <div class="table_l">
      メールアドレス
    </div>
    <div class="table_r">
      <%= f.email_field :email, class:"box80", autocomplete: "email" %>
    </div>
    <div class="table_l">
      生年月日
    </div>
    <div class="table_r"><%= raw sprintf(
      f.date_select(
        :user_birth_date,
        {
          use_month_numbers: true,
          start_year: 1930,
          end_year: (Time.now.year - 5),
          prompt:'--',
          date_separator: '%s'
        },{
          id:"birth-date",
          class:"box"
        }),
      "<span> 年 </span>", "<span> 月 </span>") + "<span> 日 </span>" %>
    </div>
    <div class="table_l">
      カード情報
    </div>
    <div class="table_r">
    【カード番号】
     <br>
     <%= "**** **** **** " + @card[:last4] %>
     <br>
     【有効期限】
     <br>
     <%= @card[:exp_month] %>
     /
     <%= @card[:exp_year] %><br>
    </div>
    </div>
    <div class="wrapper top_space30 text_center">
    <%= f.submit "編集する", :class=>"black_btn"  %>
  </div>
<% end %>
 </div>
</div>